<nav class="sidebar">
  <div class="sidebar-header">

    <!--- Logo -->
    <a routerLink="/gbatcar/dashboard" class="sidebar-brand mt-2 mb-2 d-flex align-items-center">
      <img [src]="currentTheme === 'dark' ? 'images/logo1.png' : 'images/logo.png'" alt="GbatCar Logo"
        style="max-width: 150px; height: auto;">
    </a>

    <!--- Toggler -->
    <div class="sidebar-toggler" #sidebarToggler (click)="toggleSidebar($event)">
      <span></span>
      <span></span>
      <span></span>
    </div>

  </div>
  <div class="sidebar-body" (mouseenter)="operSidebarFolded()" (mouseleave)="closeSidebarFolded()">

    <!--- Sidemenu start -->

    <ng-scrollbar orientation="vertical" appearance="compact">

      <ul class="sidebar-nav metismenu" id="sidebar-menu" #sidebarMenu>

        <ng-container *ngFor="let item of menuItems">

          <!-- nav item title -->
          <li class="nav-item nav-category" *ngIf="item.isTitle">{{ item.label }}</li>

          <!-- nav item -->
          <li class="nav-item" *ngIf="!item.isTitle">
            <!-- nav item with submenu -->
            <ng-container *ngIf="hasItems(item)">
              <a class="nav-link" href="javascript:void(0);">
                <i class="link-icon" [attr.data-feather]="item.icon" appFeatherIcon></i>
                <span class="link-title"> {{ item.label }}</span>
                <span class="link-arrow" data-feather="chevron-down" appFeatherIcon></span>
              </a>
              <ul class="sidebar-nav sub-menu nav-second-level">
                <ng-container *ngFor="let subitem of item.subItems">
                  <li class="nav-item" [ngClass]="{'side-nav-item': hasItems(subitem)}">
                    <!-- nav link with submenu -->
                    <ng-container *ngIf="hasItems(subitem)">
                      <a class="nav-link side-nav-link-a-ref" href="javascript:void(0);">
                        <span class="link-title"> {{ subitem.label }}</span>
                        <span class="link-arrow" data-feather="chevron-down" appFeatherIcon></span>
                      </a>
                      <ul class="sidebar-nav sub-menu nav-third-level">
                        <li class="nav-item" *ngFor="let subSubitem of subitem.subItems">
                          <a class="nav-link nav-link-ref" [routerLink]="subSubitem.link"
                            [routerLinkActive]="['active']">
                            {{ subSubitem.label }}
                          </a>
                        </li>
                      </ul>
                    </ng-container>
                    <!-- nav link without submenu -->
                    <ng-container *ngIf="!hasItems(subitem)">
                      <a class="nav-link nav-link-ref" [routerLink]="subitem.link" [routerLinkActive]="['active']">
                        {{ subitem.label }}
                      </a>
                    </ng-container>
                  </li>
                </ng-container>
              </ul>
            </ng-container>

            <!-- nav item without submenu -->
            <ng-container *ngIf="!hasItems(item)">
              <a class="nav-link nav-link-ref" [routerLink]="item.link" [routerLinkActive]="['active']">
                <i class="link-icon" [attr.data-feather]="item.icon" appFeatherIcon></i>
                <span class="link-title"> {{ item.label }}</span>
                <span *ngIf="item.badge" class="badge bg-{{item.badge.variant}}">{{item.badge.text}}</span>
              </a>
            </ng-container>
          </li>

        </ng-container>

      </ul>

    </ng-scrollbar>

    <!--- Sidemenu end -->

  </div>
</nav>